.Header {
  display: flex;
  color: white;
  padding: 1rem 1rem 0rem 1rem;
}

.title {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.title--firstname{
  color: white;
}

.title--lastname {
  color: rgb(254, 223, 185);
}

