* {
  margin: 0;
  padding: 0;
}

.hero {
  text-align: left;
  font-family: 'cairo';
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrapper {
  display: flex;
}

.wrapper .static-text {
  color: white;
  font-size: 2rem;
}

.wrapper .dynamic-texts {
  margin-left: 15px;
  line-height: 60px;
  height: 60px;
  overflow: hidden;
}

.dynamic-texts li {
  color: #ff4c29;
  font-size: 2rem;
  list-style: none;
  position: relative;
  top: 0;
  animation: wordshuffle 9s steps(3) infinite;
}

.dynamic-texts li::after {
  content: '';
  position: absolute;
  left: 0;
  background-color: #282c34;
  height: 100%;
  width: 100%;
  border-left: 2px solid #ff4c29;
  animation: typing 3s steps(9) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 25px);
  }
  100% {
    left: 0;
  }
}

@keyframes wordshuffle {
  100%{
    top: -180px;
  }
}